@charset "utf-8";
/* CSS Document */
h1
{
			color:darkblue;
			text-align: center;
			font-size: 64px;
			font-style:oblique;
			font-weight: bold;
			
}

.d1
{
	font-size: 35px;
	height: 100%;
	width: 50%;
	margin: auto;
	background-color: #E1E1E1;
    text-align: center;
    border-spacing: 30px;
	border-radius: 10px;
	padding: 30px;
	
}
body
{
	background: url("t2_8.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

#img1
{
	margin: 5;
	border-radius: 10px;
	padding: 5px;
	width: 70%;
}


p
{
	
	color: #2B2A2A;
	padding: 25px;
	
	
}

.img2
{
	border-radius: 10px;
	width: 70%;
	padding: 5px;

}

.arrow
{
	height: 60px;
}


::-webkit-scrollbar { 
                display: none; 
            } 

html { -ms-overflow-style: none; }

@media only screen and (max-width: 768px) 
{
	div {font-size: 20px; width: 70%}
	.arrow {height: 30px;}
}